body {
    background: #edede9;
    padding: 100px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cat-info {
    display: flex;
    gap: 24px;
    align-items: center;

    background-color: #d5bdaf;
    padding: 20px;
    margin-top: 40px;
    width: 800px;
}

.invisible {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@media screen and (max-width: 468px) {
    .cat-info {
        display: flex;
        flex-direction: column;
    }
}

.breed-select {
    width: 200px;
}